.login_content h1::before, .login_content h1::after {
    width: 12%;
}

.site_title i {
	border: medium none;
}

.dropdown-toggle-block-form > .block-form {
	display: none;
}

ul.msg_list li a {
	width: 100%;
}

#xmlFiles_display ul.msg_list li:last-child {
	padding: 5px;
}